.bookingmodal-container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 1200px;
}

.bookingmodal-form {
  flex: 1;
}

.bookingmodal-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: #ffc900;
  padding: 40px 80px;
}

.bookingmodal-time {
  font-size: 24px;
}

.bookingmodal-date {
  font-size: 48px;
  font-weight: bold;
}

.bookingmodal-form {
  padding: 40px 80px;
}

@media screen and (max-width: 1279px) {
  .bookingmodal-container {
    width: 720px;
  }

  .bookingmodal-timer {
    padding: 20px 40px;
  }

  .bookingmodal-form {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 799px) {
  .bookingmodal-container {
    width: 600px;
  }
}

@media screen and (max-width: 639px) {
  .bookingmodal-container {
    flex-direction: column;
    width: 90%;
  }

  .bookingmodal-form {
    padding: 10px 20px;
  }

  .bookingmodal-timer {
    padding: 10px 20px;
  }

  .bookingmodal-date {
    font-size: 36px;
  }

  .bookingmodal-time {
    font-size: 18px;
  }
}