.card-container-wrapper {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  padding: 10px;
}

.card-container {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  box-shadow: 0px 0px 10px 4px rgba(196,196,196,1);
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  height: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.card-description {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
  backdrop-filter: blur(4px) contrast(0.9);
  border-radius: 12px;
  opacity: 0;
}

.card-container:hover .card-description {
  opacity: 1;
  bottom: 2px;
  top: 2px;
  left: 2px;
  right: 2px;
  transition: 0.3s;
}

.card-container:hover .card-title {
  transition: 0.3s;
  transform: scale(1.1);
  border-bottom: 2px solid #000;
}

.card-container:hover {
  transform: scale(1.02) translateY(-10px);
  background: linear-gradient(45deg, #feff0a, #fd5afe);
  -webkit-box-shadow: 0px 4px 10px 7px rgba(196,196,196,1);
  -moz-box-shadow: 0px 4px 10px 7px rgba(196,196,196,1);
  box-shadow: 0px 4px 10px 7px rgba(196,196,196,1);
  transition: 0.3s;
}

.card-container:hover .card-icon {
  color: #fff;
  transition: 0.3s;
}

.card-title {
  display: inline-block;
  z-index: 2;
}

.card-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  color: #000;
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .card-container {
    width: 200px;
    height: 240px;
  }

  .card-description {
    padding-top: 40px;
  }
}

@media screen and (max-width: 799px) {
  .card-container-wrapper:last-child {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-description {
    font-size: 14px;
    padding-top: 0;
  }
}

@media screen and (max-width: 639px) {
  .card-container-wrapper {
    margin-bottom: 60px;
  }
  
  .card-container {
    width: 250px;
    height: 300px;
  }

  .card-container-wrapper:last-child {
    margin: 0;
  }
}