.createslots-modal {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-height: 75%;
  width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.createslots-main {
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 4px;
  height: 1000px;
}

.createslots-btngroup {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.createslots-btngroup span {
  text-align: right;
}

.sloterror-message {
  font-size: 12px;
  color: rgb(248, 63, 63)
}

@media screen and (max-width: 639px) {
  .createslots-modal {
    width: 440px;
    padding: 8px;
  }
}