.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  z-index: 100;
}

.navbar-scrolled {
  background: #ccbba5;
  transition: 0.3s;
  color: #fff;
}

.navbar-logo {
  font-size: 12px;
}