.slotcard-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #000;
}

.slotcard-date {
  font-weight: bold;
  font-size: 24px;
  align-self: flex-start;
  margin-top: 8px;
  margin-bottom: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
}

.slotcard-slots {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.slots-item {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.3s;
  margin: 8px 12px;
}

.slots-item:hover {
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}

.slots-green {
  border: 1px solid green;
}

.slots-green:hover {
  color: #fff;
  background-color: green;
  transition: 0.3s;
}

.slots-red {
  border: 1px solid red;
}

.slots-red:hover {
  color: #fff;
  background-color: red;
  transition: 0.3s;
}