body {
  margin: 0;
  font-family: 'Seymour One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
  background: #fff;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background: #c1c1c1;
  background-clip: content-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #919191;
  background-clip: content-box;
}

* {
  box-sizing: border-box;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
font-family: 'Seymour One', sans-serif;
*/